.margin-categorias {
  padding: 200px;
}

.category-tittle {
  font-family: "Enter the Grid 2";
  font-size: 50px;
  line-height: 1;
}
.category-tittle span {
  color: #0085f8;
}
.cards-categorias {
  margin-top: 8px;
  padding: 16px 0;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
}
.subtittle-cards {
  color: #0085f8;
}
