@font-face {
  font-family: "Roboto-bold";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.balloon {
  display: inline-flex;
  align-items: center;
  width: fit-content;

  border: 1px solid #2893e8;
  border-radius: 8px;
  padding: 6px 12px;

  font-size: 12px;
  line-height: 12px;

  box-shadow: 0 2px 4px rgba(40, 147, 232, 0.3);

  font-family: "Roboto-bold", sans-serif;
  font-weight: bold;
}
