nav {
  color: #fff;
  display: flex;
  justify-content: space-between;

  font-size: 1rem;
  justify-content: space-around;
}
ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
header {
  display: flex;
  background-color: #010308;
  box-shadow: 0px 4px 4px rgba(9, 97, 179, 0.663);
  justify-content: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 16px 64px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header-icons {
  display: flex;
  gap: 1rem;
}
footer {
  background-color: #010308;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
