@font-face {
  font-family: "Enter the Grid 2";
  src: url("./assets/fonts/Enter the Grid 2.otf") format("truetype");
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 1rem;

  /* align-items: flex-start; */
}
.hero-container {
  display: flex;
  justify-content: space-between;
  width: 100vh;
  max-width: 1440px;
  gap: 12rem;
  background-image: url("../assets/images/bg-image.png");
  background-size: cover; /* Preenche toda a área */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat;
}
.hero-hero {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 48px 0;
}

.hero-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: start;
}
.hero-title {
  font-family: "Enter the Grid 2", sans-serif;
  font-size: 50px;
  line-height: 1;
}
.hero-title span {
  color: #0085f8;
}
.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: start;
  justify-items: start;
}
