@import "tailwindcss";

@font-face {
  font-family: "Audiowide";
  src: url("./assets/fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #010308;
  color: #fff;
}
main {
  padding-top: 100px;
}

@layer base {
  button,
  input,
  select,
  textarea {
    appearance: none;
    background: transparent;
    border: 0;
    outline: none;
  }

  .all-unset {
    all: unset;
  }
}
